.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
}



.card a {
    color: black;
    font-size: small;
}
.azure {
    background-color: azure;
}
.card.green {
    border-right: solid #2ecc71;
    border-bottom: solid #2ecc71;
}

.btn.green {
    background-color: #2ecc71;
}

.card.orange {
    border-right: solid #e67e22;
    border-bottom: solid #e67e22;
}

.border {

}

.blue {
    background-color: blue
}

.red {
    background-color: red
}

.title {
  color: grey;
  font-size: 18px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.rank {
    color: Green;
}

.tag {
  background: #000;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

a.tag {
    color: white;
}


.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson;
}

.comments {
    background: #e0e0e0;
    float: right;
    max-width: 50%;
    min-width: 90%;
}

.fullwidth {
    width: 100%;
}
.btn {
  display: block;
  padding: 2%;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #000;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

.author a {
  text-decoration: none;
  color: red;
}

button:hover, a:hover {
  opacity: 0.7;
}

.grid-item {
    padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-container-question {
      display: grid;
      grid-template-columns: 20% 70% 10%;
}

.round {
    border-radius: 50%;
}

.border-right {
    border-right: 1px solid #080908;
}
hr {
    border:none;
    border: 1px solid #d7d7d7;
    margin-top: 4em;
}

.hr {
    text-align: center;
}

.hr img {
    position: relative;
    top: -5em;
    background:white;
    padding:0 5px;
}

.inner-wrap-main {
    min-height: 100vh;
}

.wrap-footer a {
    font-size: small;
}

 .wrap-footer {
     font-size: small;
}


@media only screen and (max-width: 800px) {
  .grid-container {
     grid-template-columns: 50% 50% ;
  }
}

@media only screen and (max-width: 400px) {
  .grid-container {
     grid-template-columns: 100% ;
  }
}
